.bottom_bar {
	position: fixed;
	bottom: 10px;
	color: #ffffff;
	text-shadow: -3px 0px 0px cyan;
	-webkit-animation: pulsing 10s infinite;
	animation: pulsing 10s infinite;
	font-size: 30px;
	font-family: 'monofur italic';
	width:100%;
    text-align:center;
}

@font-face {
	font-family: 'monofur italic';
	src: url('monof56.ttf') format('truetype');
}
	

@-webkit-keyframes pulsing {
  50% {opacity: 0;}
}

@keyframes pulsing {
  50% {opacity: 0;}
}