@font-face { 
	font-family: 'comicSans';
    src: url('font/comic_sans.ttf') format('truetype'); 
}

brand-font {
	font-family: "comicSans";
	color: blue;
}

#navbar_image {
	height: 3.5rem;
	width: auto;
	padding: 0px 10px 0px 0px;
}

rnbw {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

ugly {
	font-family: "comicSans";
	top: 50%;
    left: 50%;
    margin-right: -50%;
	padding: 20px;
	 /* Chrome, Safari, Opera */
	-webkit-animation: rainbow 3s infinite; 
  
	/* Internet Explorer */
	-ms-animation: rainbow 3s infinite;
  
	/* Standar Syntax */
	animation: rainbow 3s infinite; 
}

body {
		background: #4b3c72;
}

fcs {
	font-family: "comicSans";
}

.text-negativ {
	color: #D5CFE6;
}
.pumpkin {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    width: 60%;
}
.time-code {
	float: right;
	color: #a6a6a6;
}
.text-middle {
	text-align: center;
}
.center {
	margin: auto;
	width: 50%;
}
vp {
	font-family: 'Josefin Slab', serif;
}
impact { 
	font-family: Impact;
}
