body {
    margin: 0;
}
.buttonLeft {
    margin: 0;
    border: 0;
    padding: 4;
    font-size: 25;
    position: fixed;
    left: 0px;
    top: 45vh;
}
.buttonRight {
    margin: 0;
    border: 0;
    padding: 4;
    font-size: 25;
    position: fixed;
    right: 0px;
    top: 45vh;
}
.container {

    position: relative;
    margin-top: 20px;
    height: auto;
}
.entry {
    position: absolute;
    left: 100%;
    top: 0%;
    opacity: 0;
    background-color: darkgray;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    width: 90%;
    height: inherit;
    margin: auto;
    border-color: darkgray;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    padding: 2px;
}
@keyframes swipe_out_left {
    from {
        left: 5%;
        top: 0%;
        opacity: 1;
    }
    to {
        left: -100%;
        top: 0;
        opacity: 0;
    }
}
@keyframes swipe_out_right {
    from {
        left: 5%;
        top: 0;
        opacity: 1;
    }
    to {
        left: 100%;
        top: 0%;
        opacity: 0;
    }
}
@keyframes swipe_in_left {
    from {
        left: -100%;
        top: 0%;
        opacity: 0;
    }
    to {
        left: 5%;
        top: 0%;
        opacity: 1;
    }
}
@keyframes swipe_in_right {
    from {
        left: 100%;
        top: 0%;
        opacity: 0;
    }
    to {
        left: 5%;
        top: 0%;
        opacity: 1;
    }
}
.navbar {
    width: 100%;
    background-color: green;
    padding: 4px;
    position: relative;
    top: 0px;
    left: 0px;
}
.navbar_item {
    display: inline-table;
    background-color: inherit;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar_button {
    display: inherit;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 4px;
    text-align: center;
    
}